.footer {
  height: 50%;
  width: 100%;
  background-color: #131313;
}

.footer h1 {
  color: #ca283f;
  position: absolute;
  z-index: 1;
  margin-top: 5%;
  margin-left: 10%;
  font-family: poppins;
  font-size: 40px;
}

.footer-text {
  height: 10%;
  width: 35%;
  color: white;
  font-family: roboto;
  font-weight: bold;
  position: absolute;
  margin-top: 10%;
  margin-left: 10%;
}

.footer-contact {
  float: right;
  height: 60%;
  width: 30%;
  margin-top: 6%;
  margin-right: 5%;
}

#icon-github {
  float: right;
  display: inline-flex;
  height: 25%;
  content: url("https://api.iconify.design/akar-icons/github-fill.svg?color=%23ca283f");
}

#icon-twitter {
  float: right;
  display: inline-flex;
  height: 28%;
  margin-bottom: -5px;
  margin-right: 20px;
  content: url("https://api.iconify.design/entypo-social/twitter-with-circle.svg?color=%23ca283f");
}

#icon-email {
  height: 70%;
  position: absolute;
  margin-left: -13%;
  margin-top: -3%;
  content: url("https://api.iconify.design/ant-design/mail-filled.svg?color=%23ca283f");
}

.contact-email {
  text-align: right;
  height: 10%;
  width: 30%;
  color: white;
  font-family: roboto;
  font-weight: bold;
  position: absolute;
  margin-top: 5%;
}
